<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/style.css">
  <title>JAC Executive Team</title>

</head>
<body>
<div class="container">
  <header class="header">

    <nav>
      <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/Continents}">Continents</a></li>
        <li><a th:href="@{/countries}">Countries</a></li>
        <li><a th:href="@{/islands}">Islands</a></li>
        <li><a th:href="@{/oceans}">Oceans</a></li>
        <li><a th:href="aboutUsTemplate.html">About Us</a></li>
        <li><a th:href="executivePage.html">The Team</a></li>
        <li><a th:href="reviews.html">Reviews</a></li>
        <input type="text" placeholder="Search..">
      </ul>
      <!--                <a th:href="@{/aboutUsTemplate">About Us</a>-->
    </nav>

</header>
<main>
  <div class ="headline">
    <h2>Meet our Team</h2>
  </div>

  <div class="col=sm-3">
    <h3>Lyzz Hans </h3>
    <img src="/static/images/Lyzz.jpeg">
    <small>Founder</small>
    <p> A Software Developer with a passion for creating code that improves the lives of others. I have a special interest in projects that promote equity, inclusivity, and diversity. When I am not coding, I am likely painting or hiking.</p>
  </div>

  <div class="col-sm-3">
    <h3>Joseph Johnson</h3>
    <img src ="/static/images/Joseph.jpeg" >

    <small>Adventure Associate</small>

    <p>A Junior Software Developer with over 10 years of experience as a Computer Technician and an affinity  for solving complex problems.
      I love utilizing my passion for technology to expand human potential through all technologies whether they be assistive technologies for people with disabilities, helping artists expose their work to the world,
      or taking care of my plant children.</p>

  </div>

  <div class="col-sm-3">

    <h3>Hesan Haghnazar</h3>
    <img src ="/static/images/Hesan.png">
    <small>Adventure Associate</small>

    <p>I am a full stack java developer with experience in information technology.
      I have been in the industry just long enough to see the evolution of wireless technology turn into platform as a service in its entirety.
      I chose to study java development because of the massive growth in the field of the Internet of Things (IoT).
      At this time, I am searching for jobs in the java development field.</p>

  </div>

  </div>

  <div class="col-sm-3">

    <img src ="/static/images/black profile pic.jpg">
    <h3>Brady Gasser</h3>
    <small>Adventure Associate</small>

    <p>Spicy jalapeno bacon ipsum dolor amet chicken in leberkas,
      ut prosciutto jowl sirloin hamburger ball tip tenderloin drumstick ham hock cupim cow. Ut sed venison nisi.
      Pancetta laboris incididunt corned beef sed bresaola capicola qui short loin swine buffalo burgdoggen.
      Ea irure labore cow, commodo nostrud non cillum pork loin.</p>

  </div>

  <div class="col-sm-3">

    <img src ="/static/images/black profile pic.jpg">
    <h3>Trey Browder</h3>
    <small>Adventure Associate</small>

    <p>Spicy jalapeno bacon ipsum dolor amet chicken in leberkas,
      ut prosciutto jowl sirloin hamburger ball tip tenderloin drumstick ham hock cupim cow. Ut sed venison nisi.
      Pancetta laboris incididunt corned beef sed bresaola capicola qui short loin swine buffalo burgdoggen.
      Ea irure labore cow, commodo nostrud non cillum pork loin.</p>

  </div>

  <div class="col-sm-3">

    <img src ="black profile pic.jpg">
    <h3>George Avent Jr</h3>
    <small>Adventure Associate</small>

    <p>Spicy jalapeno bacon ipsum dolor amet chicken in leberkas,
      ut prosciutto jowl sirloin hamburger ball tip tenderloin drumstick ham hock cupim cow. Ut sed venison nisi.
      Pancetta laboris incididunt corned beef sed bresaola capicola qui short loin swine buffalo burgdoggen.
      Ea irure labore cow, commodo nostrud non cillum pork loin.</p>

  </div>






  </section>


  </div>
</main>


<footer>
  &copy; JAC 2021
</footer>

</body>
</html>
