<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <!--    <link href="/css/style.css" rel="stylesheet">-->
    <!--    <link href="/css/layout.css" rel="stylesheet">-->
    <title>Trekking Adventures</title>
</head>

<body>
<header class="header">
    <h1 class="header__title">Choose Your Adventure</h1>
    <ul th:each="continent:${continentsModel}">
        <li><h2 th:text="${continent.id}">Name</h2></li>
    </ul>
</header>
<!--<section class="island-list">-->
<!--    <h2 class="island-list__heading">Islands:</h2>-->
<!--    <nav class="island-list-nav">-->
<!--        <ul class="island-list-links">-->
<!--            <li class="island-list-links__island" th:each="island:${continent.islands}">-->
<!--                <a class="island-list-links__link" th:href="@{'/islands/'+ ${island.id}}"-->
<!--                   th:text="${island.name}">Fiji</a>-->
<!--            </li>-->

<!--        </ul>-->
<!--    </nav>-->
<!--    <a class="nav__home" href="/continents">back to continents</a>-->
<!--    <form method="POST" th:action="'/continents/'+ ${continent.name} + '/add-island'">-->
<!--        <input name="continentId" th:value="${continent.id}" type="hidden">-->
<!--        <input type="text">-->
<!--    </form>-->
<!--</section>-->
</body>

</html>