<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Team-1-Project</title>

</head>
<body>
    <div class="container">
        <header class="header">
            <nav>
                <nav>
                    <ul>
                        <li><a th:href="@{/}">Home</a></li>
                        <li><a th:href="@{/Continents}">Continents</a></li>
                        <li> <a th:href="@{/countries}">Countries</a></li>
                        <li> <a th:href="@{/islands}">Islands</a></li>
                        <li> <a th:href="@{/about us}">About Us</a></li>
                        <li> <a th:href="@{/Team}"Team</a></li>
                    </ul>
                    <!--                <a th:href="@{/aboutUsTemplate">About Us</a>-->
                </nav>

                <!--                <a th:href="@{/aboutUsTemplate">About Us</a>-->
            </nav>

        </header>

        <section class="explanation">
            <h1>JAC's Island Hopping</h1>
            <p>JAC's Motto: "Vincit Qui Se Vincit!" which means, "He/she conquers who conquers him/herself!"</p>
            <h2>What is Island Hopping?</h2>
            <p><!--Explanation of island hopping goes here --></p>



                    <figure>
                        <img src="/images/world-map.gif" alt="a world map" />
                    </figure>

                </article>
            </div>
         </section>

         <section class="search">
             <h2>Find your next adventure!</h2>
             <p>JAC's offers Island Hopping adventures all over the globe!</p>
         </section>

         <nav>
             <a href="#aboutUs">About JAC's</a>
             <a href="#examples">Best of Island Hopping</a>
             <a href="#search">Find an Adventure</a>
         </nav>

         <footer>
             &JAC's Enterprises 2021
             &Team1 2021
         </footer>


    </div>
</body>
</html>