<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/layout.css" rel="stylesheet">
    <title>Continents</title>
</head>

<body>
<header>
    <nav>
        <ul>
            <li><a href="@{/}">Home</a></li>
            <li><a href="@{/Continents}">Continents</a></li>
            <li> <a href="@{/countries}">Countries</a></li>
            <li> <a href="@{/islands}">Islands</a></li>
            <li> <a href="@{/about us}">About Us</a></li>
            <li> <a href="@{/Team}">Team</a></li>
        </ul>
        <!--                <a th:href="@{/aboutUsTemplate">About Us</a>-->
    </nav>
</header>
<h1>Travel at the Tip of Your Fingers</h1>

<h2 th:each="island:${islands}"><a th:href="@{'/islands/'+ ${island.name}}"
                                         th:text="${island.name}">Continent</a>
</h2>

<div id="Fiji">

    <h3> </h3>
    <img src="/images/Fiji.jpg" alt="an image of Fiji">

    <p>Why Go To Fiji
        With its turquoise waters, glittering sands and luxe resorts, Fiji is similar to many other tropical getaways.
        Likewise, the set of 333 islands caters to lovebirds of all kinds. Plus, adventure-seekers, like surfers and divers,
        appreciate the archipelago's quality waves and coral reefs. But Fiji differs from other island destinations in its otherworldliness.
        Since it's more than 1,300 miles from New Zealand's North Island in the South Pacific Ocean, Fiji affords you the delectable feeling of seclusion.
        You'll be as far from reality as possible when you're sipping Fiji Bitter beer and watching the sun dip below the horizon. Fijian customs will
        make you feel a million miles away too: Ever tasted the dizzying kava drink?
        Or watched men defy fire and walk across scalding stones without burning their feet? If not, it's about time you did.
    </p>




</div>

</body>

</html>