<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/layout.css" rel="stylesheet">
    <title>Continents</title>
</head>

<body>
<header>
    <nav>
        <ul>
            <li><a href="@{/}">Home</a></li>
            <li><a href="@{/Continents}">Continents</a></li>
            <li> <a href="@{/countries}">Countries</a></li>
            <li> <a href="@{/islands}">Islands</a></li>
            <li> <a href="@{/about us}">About Us</a></li>
            <li> <a href="@{/Team}">Team</a></li>
        </ul>
        <!--                <a th:href="@{/aboutUsTemplate">About Us</a>-->
    </nav>
</header>
<h1>Travel at the Tip of Your Fingers</h1>

<h2 th:each="island:${islands}"><a th:href="@{'/islands/'+ ${island.name}}"
                                         th:text="${island.name}">Continent</a>
</h2>

<div id="island desc">

    <h3> </h3>
    <img src="">

    <p>Spicy jalapeno bacon ipsum dolor amet salami cupim id pork chop, shoulder kevin buffalo swine tenderloin in ut short loin.
        Do cow consectetur nostrud aute. Biltong boudin est commodo prosciutto.
        Eiusmod ex aliqua, shankle pariatur reprehenderit shank jowl cupidatat leberkas ad lorem turkey in anim.
    </p>




</div>

</body>

</html>