<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Team-1-Project</title>

</head>
<body>
    <div class="container">
        <header class="header">
            <h1>JAC's Island Hopping</h1>
            <p>JAC's Motto: "Vincit Qui Se Vincit!" which means, "He/she conquers who conquers him/herself!"</p>
        </header>

        <section class="explanation">
            <h2>What is Island Hopping?</h2>
            <p><!--Explanation of island hopping goes here --></p>

            <div id="examples">
                <article>
                    <h3><!--First Example--></h3>
                    <img src=<!--image of first example-->
                    <p><!--Description of first example--></p>
                </article>

                <article>
                    <h3><!--Second Example--></h3>
                    <img src=<!--image of second example-->
                    <p><!--Description of second example--></p>
                </article>

                <article>
                    <h3><!--Third Example--></h3>
                    <img src=<!--image of third example-->
                    <p><!--Description of third example--></p>
                </article>
            </div>
         </section>

         <section class="search">
             <h2>Find your next adventure!</h2>
             <p>JAC's offers Island Hopping adventures all over the globe!</p>
             <p>Just click below to search by continent, country, ocean, or island</p>

             <div id="searchButtons">
                <a href="#island">Islands</a>
                <a href="#oceans">Oceans</a>
                <a href="#country">Countries</a>
                <a href="#continent">Continents</a>
            </div>
         </section>

         <nav>
             <a href="#aboutUs">About JAC's</a>
             <a href="#examples">Best of Island Hopping</a>
             <a href="#search">Find an Adventure</a>
         </nav>

         <footer>
             &JAC's Enterprises 2021
             &Team1 2021
         </footer>


    
</body>
</html>