<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JAC Executive Team</title>

    <link rel="stylesheet" href="/styles/style.css" type = text/css>

</head>
<body>
<header>

    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/Continents}">Continents</a></li>
            <li><a th:href="@{/countries}">Countries</a></li>
            <li><a th:href="@{/islands}">Islands</a></li>
            <li><a th:href="@{/oceans}">Oceans</a></li>
            <li><a th:href="aboutUsTemplate.html">About Us</a></li>
            <li><a th:href="executivePage.html">The Team</a></li>
            <input type="text" placeholder="Search..">
        </ul>
        <!--                <a th:href="@{/aboutUsTemplate">About Us</a>-->
    </nav>

</header>
<main>
    <div class ="headline">
        <h2>Oceans</h2>
    </div>

    <div class="col=sm-3">
        <h3> </h3>
        <img src="">

        <p>Spicy jalapeno bacon ipsum dolor amet chicken in leberkas,
            ut prosciutto jowl sirloin hamburger ball tip tenderloin drumstick ham hock cupim cow. Ut sed venison nisi.
            Pancetta laboris incididunt corned beef sed bresaola capicola qui short loin swine buffalo burgdoggen.
            Ea irure labore cow, commodo nostrud non cillum pork loin</p>
    </div>

    <div class="col-sm-3">
        <h3></h3>
        <img src ="" >

        <p>Spicy jalapeno bacon ipsum dolor amet chicken in leberkas,
            ut prosciutto jowl sirloin hamburger ball tip tenderloin drumstick ham hock cupim cow. Ut sed venison nisi.
            Pancetta laboris incididunt corned beef sed bresaola capicola qui short loin swine buffalo burgdoggen.
            Ea irure labore cow, commodo nostrud non cillum pork loin</p>

    </div>

    <div class="col-sm-3">

        <h3></h3>
        <img src ="">


        <p>Spicy jalapeno bacon ipsum dolor amet chicken in leberkas,
            ut prosciutto jowl sirloin hamburger ball tip tenderloin drumstick ham hock cupim cow. Ut sed venison nisi.
            Pancetta laboris incididunt corned beef sed bresaola capicola qui short loin swine buffalo burgdoggen.
            Ea irure labore cow, commodo nostrud non cillum pork loin</p>

    </div>

    </div>

    <div class="col-sm-3">

        <img src ="">
        <h3></h3>


        <p>Spicy jalapeno bacon ipsum dolor amet chicken in leberkas,
            ut prosciutto jowl sirloin hamburger ball tip tenderloin drumstick ham hock cupim cow. Ut sed venison nisi.
            Pancetta laboris incididunt corned beef sed bresaola capicola qui short loin swine buffalo burgdoggen.
            Ea irure labore cow, commodo nostrud non cillum pork loin</p>

    </div>

    <div class="col-sm-3">

        <img src ="">
        <h3></h3>

        <p>Spicy jalapeno bacon ipsum dolor amet chicken in leberkas,
            ut prosciutto jowl sirloin hamburger ball tip tenderloin drumstick ham hock cupim cow. Ut sed venison nisi.
            Pancetta laboris incididunt corned beef sed bresaola capicola qui short loin swine buffalo burgdoggen.
            Ea irure labore cow, commodo nostrud non cillum pork loin.</p>

    </div>

    <div class="col-sm-3">

        <img src ="">
        <h3></h3>

        <p>Spicy jalapeno bacon ipsum dolor amet chicken in leberkas,
            ut prosciutto jowl sirloin hamburger ball tip tenderloin drumstick ham hock cupim cow. Ut sed venison nisi.
            Pancetta laboris incididunt corned beef sed bresaola capicola qui short loin swine buffalo burgdoggen.
            Ea irure labore cow, commodo nostrud non cillum pork loin.</p>

    </div>






    </section>


    </div>
</main>


<footer>
    &copy; JAC 2021
</footer>

</body>
</html>