<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JAC Executive Team</title>

    <link rel="stylesheet" href="Styles.css" type = text/css>

</head>
<body>
<header>

    <nav>
        <ul>
            <li><a href="#Homepage">Homepage</a></li>
            <li><a href="Company Mission">About Us</a></li>
            <li><a href="Executive Team">Team</a></li>
            <li><a href="#continents">Continents</a></li>
            <li><a href="#countries">Countries</a></li>
            <li><a href="Contact us">Contact us</a></li>
        </ul>
    </nav>

</header>
<main>
    <div class ="headline">
        <h2>Oceans</h2>
    </div>

    <div class="col=sm-3">
        <h3> </h3>
        <img src="">

        <p>Spicy jalapeno bacon ipsum dolor amet chicken in leberkas,
            ut prosciutto jowl sirloin hamburger ball tip tenderloin drumstick ham hock cupim cow. Ut sed venison nisi.
            Pancetta laboris incididunt corned beef sed bresaola capicola qui short loin swine buffalo burgdoggen.
            Ea irure labore cow, commodo nostrud non cillum pork loin</p>
    </div>

    <div class="col-sm-3">
        <h3></h3>
        <img src ="" >

        <p>Spicy jalapeno bacon ipsum dolor amet chicken in leberkas,
            ut prosciutto jowl sirloin hamburger ball tip tenderloin drumstick ham hock cupim cow. Ut sed venison nisi.
            Pancetta laboris incididunt corned beef sed bresaola capicola qui short loin swine buffalo burgdoggen.
            Ea irure labore cow, commodo nostrud non cillum pork loin</p>

    </div>

    <div class="col-sm-3">

        <h3></h3>
        <img src ="">


        <p>Spicy jalapeno bacon ipsum dolor amet chicken in leberkas,
            ut prosciutto jowl sirloin hamburger ball tip tenderloin drumstick ham hock cupim cow. Ut sed venison nisi.
            Pancetta laboris incididunt corned beef sed bresaola capicola qui short loin swine buffalo burgdoggen.
            Ea irure labore cow, commodo nostrud non cillum pork loin</p>

    </div>

    </div>

    <div class="col-sm-3">

        <img src ="">
        <h3></h3>


        <p>Spicy jalapeno bacon ipsum dolor amet chicken in leberkas,
            ut prosciutto jowl sirloin hamburger ball tip tenderloin drumstick ham hock cupim cow. Ut sed venison nisi.
            Pancetta laboris incididunt corned beef sed bresaola capicola qui short loin swine buffalo burgdoggen.
            Ea irure labore cow, commodo nostrud non cillum pork loin</p>

    </div>

    <div class="col-sm-3">

        <img src ="">
        <h3></h3>

        <p>Spicy jalapeno bacon ipsum dolor amet chicken in leberkas,
            ut prosciutto jowl sirloin hamburger ball tip tenderloin drumstick ham hock cupim cow. Ut sed venison nisi.
            Pancetta laboris incididunt corned beef sed bresaola capicola qui short loin swine buffalo burgdoggen.
            Ea irure labore cow, commodo nostrud non cillum pork loin.</p>

    </div>

    <div class="col-sm-3">

        <img src ="">
        <h3></h3>

        <p>Spicy jalapeno bacon ipsum dolor amet chicken in leberkas,
            ut prosciutto jowl sirloin hamburger ball tip tenderloin drumstick ham hock cupim cow. Ut sed venison nisi.
            Pancetta laboris incididunt corned beef sed bresaola capicola qui short loin swine buffalo burgdoggen.
            Ea irure labore cow, commodo nostrud non cillum pork loin.</p>

    </div>






    </section>


    </div>
</main>


<footer>
    &copy; JAC 2021
</footer>

</body>
</html>